// Font Variables
$font-family: 'Arial, sans-serif';
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

// Colors
$color-text: #f4f4f4;
$color-btn-1: #0e6cff;
$color-btn-2: #ff8700;
$color-btn-3: #4caf50;
$bg-hero: #640fc5;
$bg-grid: #f4f4f4;



